@media screen and (max-width: 1920px) {
  #enrichmentChart,#generalChart,#ravChart,#sfpChart,#friendsChart{
    max-width: 400px;
    max-height: 300px;
  }
}
@media screen and (min-width: 768px) {
  .ratio{
    max-height: 330px;
  }
  .ratio-inner {
    position: relative;
    height: 0;
    border: none;
  }
  .ratio-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .ratio-4-3 {
    padding-top: calc(77% - 2px);
  }
  #tableStats{
    font-size: 0.8em;
  }
}
@media screen and (min-width: 1100px) and (max-width:1250px) {
  #tableStats{
    font-size: 0.8em;
  }
}
@media screen and (min-width:1251px) {
  #tableStats{
    font-size: 1em;
  }
}
@media screen and (min-width: 992px) and (max-width:1100px) {
  #tableStats{
    font-size: 0.7em;
  }
  .table-condensed{
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1550px) {
  .ratio-4-3 {
    padding-top: 69%;
  }
  #tableStats{
    min-height: 330px;
    max-height: 330px;
  }
}

@media screen and (min-width: 1921px) {
  #enrichmentChart,#generalChart,#ravChart,#sfpChart,#friendsChart{
    max-width: initial;
    max-height: initial;
  }
  .ratio{
    max-height: initial;
  }
  .ratio-4-3 {
    padding-top: calc(76% - 3px);
  }
}
.container-fluid{
  margin-top: 2vh;
}
